a {
    color: #90CAF9;
}

a:visited {
    color: #B39DDB;
}

.full-column {
    grid-column: 1/4;
}

.center-column {
    grid-column: 2/3;
}

@media (max-width: 700px) {
    .center-column {
        grid-column: 1/4;
    }
}
